{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-scooby-green">
  <div class="container">
    <h1 class="display-4">Insufficient permissions</h1>
    <p class="lead">Scooby started making a shit ton of accounts using russian emails from darknet so I had to lock-down the admin panel to admin class users only. Sorry gang, remind me later to update your roles.</p>
    <p class="text-muted">Yours, <br><span class="text-scooby-orange">F.</span></p>
  </div>
</div>
{% endblock content %}
